
		<div ng-app="myApp" ng-controller="infoCtrl">
		
			<form name="Details" novalidate ng-submit="Details.$valid && login.submit()">
				First Name:<br>
					<input type="text" name="firstName" ng-model="user.firstName" required>
					<span ng-show="Details.firstName.$touched && Details.firstName.$invalid"> first name is required.</span><br>
				
				Last Name:<br>
					<input type="text" name="lastName" ng-model="user.lastName" required>
					<span ng-show="Details.lastName.$touched && Details.lastName.$invalid"> last name is required.</span><br>
				
				
				Email:<br>
					<input type="Email" name="email" ng-model="user.email" required>
					<span ng-show="Details.email.$touched && Details.email.$invalid">Email is required.</span><br>
				
				
				Contact Number:<br>
					<input type="tel" pattern="[0-9]{10}" name="user.tel" ng-model="user.tel" required>
					<span ng-show="Details.tel.$touched && Details.tel.$invalid">Contact Number is required.</span><br><br>
					<select name="gender_id" class="Sitedropdown" style="width: 220px;" ng-model="genderName" ng-options="gende.genderName for gende in gender" required> 
						<option value="">Select Gender</option> 
					</select> 
					<span class="error" ng-show="Details.gender_id.$dirty && Details.gender_id.$invalid">Select Gender</span><br><br>
					<button ng-disabled="Details.$invalid" type="submit">Submit</button>
					
					<button class="btn btn-primary " 
        type="reset" 
        ng-click="reset()">Clear
</button>

			</form>
			
			<p>FirstName = {{user.firstName}}</p>
			<p>LastName ={{user.lastName}}</p>
			<p>Email={{user.email}} </p>
			<p>Contact Number={{user.tel}}</p>
			<p>Gender={{genderName}} </p>
		</div>